.greetings {

	// .greetings__container
	&__container {
		max-width: rem(1200);
	}

	// .greetings__inner
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include adaptiveValue("gap", 25, 15);
		@media (max-width: em(991)){
			flex-direction: column-reverse;
		}
	}

	// .greetings__descp
	&__descp {
		max-width: rem(636);
		@media (max-width: em(768)){
			max-width: max-content;
			text-align: center;
		}
		h1 {
			@include adaptiveValue("font-size", 58, 26);
			font-weight: 700;
			line-height: math.div(70, 58);
			color: $mainBlueDarkColor;
			span {
				background: linear-gradient(90deg, #13B0F5 3%, #E70FAA 100%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}
	}

	// .greetings__img-ibg
	&__img-ibg {
		@include adaptiveValue("width", 400, 280);
		@include adaptiveValue("height", 400, 280);
		background-color: grey;
		overflow: hidden;
		border-radius: 50%;
		@media (max-width: em(1050)){
			@include adaptiveValue("width", 380, 280);
			@include adaptiveValue("height", 380, 280);
		}
		&::before{
			content:''; 
			position: absolute;
			width: 410px;
			height: 410px;
			background: linear-gradient(90deg, #13B0F5 3%, #E70FAA 100%);
			background-clip: padding-box;
			@media (max-width: em(1050)){
				width: 390px;
				height: 390px;
			}
		}
	}
	img {
		scale: 0.97;
    border-radius: 50%;
		object-position: top;
	}
}

.about {

	// .about__title
	&__title {
		&:not(:last-child){
			margin-bottom: rem(48);
		}
		@media (max-width: em(768)){
			&:not(:last-child){
				margin-bottom: rem(35);
			} 
		}
		@media (max-width: em(576)){
			&:not(:last-child){
				margin-bottom: rem(25);
			}
		}
	}

	// .about__subtitle
	&__subtitle {
		max-width: rem(800);
		@include adaptiveValue("font-size", 18, 14);
		font-weight: 500;
		line-height: math.div(26, 18);
		text-align: center;
		margin: 0 auto;
	}
}

.stack {

	// .stack__title
	&__title {
		&:not(:last-child){
			margin-bottom: rem(30);
		}
		@media (max-width: em(768)){
			&:not(:last-child){
				margin-bottom: rem(25);
			}
		}
	}

	// .stack__subtitle
	&__subtitle {
		@include adaptiveValue("font-size", 32, 18);
		font-weight: 400;
		line-height: math.div(26, 32);
		text-align: center;
		&:not(:last-child){
			margin-bottom: rem(108);
		}
		@media (max-width: em(768)){
			&:not(:last-child){
				margin-bottom: rem(65);
			}
		}
		@media (max-width: em(576)){
			&:not(:last-child){
				margin-bottom: rem(35);
			}
		}
	}

	// .stack__inner
	&__inner {
		display: grid; 
		grid-template-columns: repeat(auto-fill, minmax(rem(90), 1fr)); 
		@include adaptiveValue("gap", 103, 15);
	}

	&__item {
		@media (max-width: em(768)){
			 width: 80%; 
		}
		@media (max-width: em(576)){
			 width: 60%; 
		}
	}
}

.projects {

	// .projects__title
	&__title {
		&:not(:last-child){
			margin-bottom: rem(65);
		}
		@media (max-width: em(768)){
			&:not(:last-child){
				margin-bottom: rem(35);
			}
		}
		@media (max-width: em(576)){
			&:not(:last-child){
				margin-bottom: rem(25);
			}
		}
	}

	// .projects__inner
	&__inner {
		display: grid; 
		grid-template-columns: repeat(auto-fill, minmax(rem(300), 1fr)); 
		@include adaptiveValue("gap", 45, 15);
		@media (max-width: em(515)){
			grid-template-columns: 1fr;
		}
		&:not(:last-child){
			@include adaptiveValue("margin-bottom", 60, 20);
		}
	}

		// .projects__inner-link
		&__inner-link {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		// .projects__link
		&__link {
			display: flex;
			align-items: center;
			gap: rem(10);
			@include adaptiveValue("font-size", 20, 16);
			font-weight: 400;
			line-height: math.div(26, 20);
			color: $mainColor;
			transition: $mainTransition;
			@media (any-hover: hover){
				 &:hover { 
				  color: $mainBlueDarkColor;
				} 
			}
			img {
				@include adaptiveValue("width", 30, 25);
				@include adaptiveValue("height", 30, 25);
			}
		}
}

.projects__inner--articles {
	.card-projects__img-ibg img {
		object-position: top;
	}
	.card-projects__title {
		@include adaptiveValue("font-size", 18, 16);
		line-height: math.div(23, 18);
		-webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
	}
	.card-projects__descp {
		@include adaptiveValue("font-size", 15, 14);
		-webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
	}
}

