.greetings {

	// .greetings__container
	&__container {
		max-width: rem(1200);
	}

	// .greetings__inner
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include adaptiveValue("gap", 25, 15);
		@media (max-width: em(768)){
			flex-direction: column-reverse;
		}
	}

	// .greetings__descp
	&__descp {
		max-width: rem(636);
		width: 100%;
		@media (max-width: em(768)){
			max-width: max-content;
		}
		h1 {
			@include adaptiveValue("font-size", 58, 26);
			font-weight: 700;
			line-height: math.div(70, 58);
			color: $mainBlueDarkColor;
			span {
				background: linear-gradient(90deg, #13B0F5 3%, #E70FAA 100%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}
	}

	// .greetings__img-ibg
	&__img-ibg {
		flex: 0 0 rem(350);
		width: rem(350);
    height: rem(350);
		background-color: grey;
		overflow: hidden;
		border-radius: 50%;
		&::before{
			content:''; 
			position: absolute;
			width: 360px;
			height: 360px;
			background: linear-gradient(90deg, #13B0F5 3%, #E70FAA 100%);
			background-clip: padding-box;
		}
	}
	img {
		scale: 0.97;
    border-radius: 50%;
	}
}

.about {

	// .about__title
	&__title {
		&:not(:last-child){
			margin-bottom: rem(48);
		}
	}

	// .about__subtitle
	&__subtitle {
		max-width: rem(800);
		@include adaptiveValue("font-size", 18, 14);
		font-weight: 500;
		line-height: math.div(26, 18);
		text-align: center;
		margin: 0 auto;
	}
}

.stack {

	// .stack__title
	&__title {
		&:not(:last-child){
			margin-bottom: rem(30);
		}
	}

	// .stack__subtitle
	&__subtitle {
		@include adaptiveValue("font-size", 32, 18);
		font-weight: 400;
		line-height: math.div(26, 32);
		text-align: center;
		&:not(:last-child){
			margin-bottom: rem(108);
		}
	}

	// .stack__inner
	&__inner {
		display: grid; 
		grid-template-columns: repeat(auto-fill, minmax(rem(90), 1fr)); 
		@include adaptiveValue("gap", 103, 15);
	}
}

.projects {

	// .projects__title
	&__title {
		&:not(:last-child){
			margin-bottom: rem(65);
		}
	}

	// .projects__inner
	&__inner {
		display: grid; 
		grid-template-columns: repeat(auto-fill, minmax(rem(300), 1fr)); 
		@include adaptiveValue("gap", 45, 15);
		&:not(:last-child){
			@include adaptiveValue("margin-bottom", 60, 20);
		}
	}

		// .projects__inner-link
		&__inner-link {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		// .projects__link
		&__link {
			@include adaptiveValue("font-size", 20, 16);
			font-weight: 400;
			line-height: math.div(26, 20);
			color: $mainColor;
			transition: $mainTransition;
			@media (any-hover: hover){
				 &:hover { 
				  color: $mainBlueDarkColor;
				} 
			}
		}
}


